html, body {
  /*overflow: visible;*/
  background: transparent;
  user-select: none;
  text-align: center;
  font-family: "Playwrite HU", cursive;
}

#drag-container {
  -webkit-app-region: drag;
  background: transparent;
  user-select: none;
}

#clock {
  color: white;
  font-size: 48px;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

#date-day {
  color: white;
  font-size: 48px;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

#date-month {
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

.button-container,
.hover-button {
  -webkit-app-region: no-drag; /* allow pointer events */
}

.button-container {
  top: 10px;
  left: 10px;
  width: calc(100vw - 20px);
  height: calc(100vh - 20px);
  position: absolute;
  outline: 2px solid red;
  pointer-events: auto;
}

.hover-button {
  display: none;
  position: absolute;
  top: 5px;
  right: 5px;
  color: red;
}

/* show button when parent is hovered */
.button-container:hover .hover-button {
  display: block;
}
